*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: orange;

}

.main-container{
   /* display: flex;
    align-items: center;
    justify-content: center;  flex made the btn change */
    margin: 30vh 12vw ;
    padding: 10px 20px;
    background-color: aliceblue;
}

.child-container{
    padding: 20px;
}

h1{
    color: orange;
    text-align:center ;  
}
h3{
    color: orange;
    text-align: right ;  
}
button{
    font-size: 20px;
    background-color: orange;
    color: aliceblue;
    border:  none;
    padding: 15px;
}